

.apresentacao-imagem,
.perfil-imagem {
    display: flex;
    /* width: 111.0rem; */
    /* width: 82%; */
    width: 100%;
    /* height: 60.0rem; */
    height: 28% ;
}

/* .container-imagem-principal{

    margin-top: 5.4rem;

    margin-bottom: 14.9rem;
    position: relative;


} */

.apresentacao-imagem {
    flex-direction: column;
    justify-content: flex-end;
    filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    position: relative;
    /* margin-top: 5.4rem;
    margin-bottom: 14.9rem; */


    
    /* display: block;
    position:relative; */
    /*width: 100%;*/
    /* width: 50%; */
    /* display: block; */

    background-color: yellow;

    /* background-image:-moz-element(image); */
    /* width: 20%; */
    /* height: 100%; */

    /* height: 40.1rem; */

}

 .apresentacao-imagem {
  /* width: 100%;
  height: 100%; */
  /* content: "";      
  top: 0;      
  left: 0;      
  bottom: 0;      
  right: 0;      
  position: absolute;      
  z-index: -1;       
      
  background-repeat:no-repeat;      
  background-size:contain;      
  background-position:center;      
  opacity: 0.2; */

  /* position: absolute; */
  /* z-index: 1; */

}

.imagem-principal{
    /* height: 100vh;
    width: 80vw; */

    /* position: absolute;
    z-index: -20 ; */
    /* position:absolute; */
    width: 100%;
    height: 100%;
   position: absolute;
   /* top: 0%;
   bottom: 0%;
   right: 0%;
   left: 0%; */
   z-index: -1;
}

.apresentacao-texto {
    /* display: flex; */
    /* width: 44.5rem; */
    width: 40%;
    /* height: 35.7rem; */
    height: 60%;
    background: #FAFAFA;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    /* position:relative; */
    
}

.apresentacao-texto h1 {
    /* height: 20.0rem; */
    width: 100%;
    height: 87%;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    /* font-size: 5.0rem; */
    line-height: 5.0rem;
    letter-spacing: -0.0446429rem;
    color: var(--color-33323D);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    /* padding: 5.6rem 2.7rem 0 2.7rem; */
    padding: 10% 4% 0% 4%;


    background-color: blue;
    
    font-size: 3.5vw ;

}



 /* .apresentacao-imagem a {
    width: 40% !important;
     height: 20% !important; 
    position: absolute;
    left: 0%;
    bottom: 0%;
    text-decoration: none;

    background-color: violet;
}  */

.apresentacao-texto a {
    width: 40% !important;
    /* height: 20% !important; */
    position: absolute;
    left: 0%;
    bottom: 0%;
    text-decoration: none;

    background-color: violet;
}

/* .apresentacao-imagem a button {
    width: 45% !important;
    display: flex;
    align-items: center;
    background: var(--color-203A4C);
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 20.0rem;
    height: 4.8rem;

    background-color: burlywood;
} */

.apresentacao-texto a button {
    width: 45% !important;
    display: flex;
    align-items: center;
    background: var(--color-203A4C);
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 20.0rem;
    height: 4.8rem;

    background-color: burlywood;
}

/* .apresentacao-imagem a button:hover {
    background-color: var(--color-5FB4A2);
} */

.apresentacao-texto a button:hover {
    background-color: var(--color-5FB4A2);
}

/* .apresentacao-imagem a button img {
    width: 25% !important;
    
    height: 100%;
    padding: 1.8rem 1.6rem;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    background-color: red;
} */

.apresentacao-texto a button img {
    width: 25% !important;
    /* width: 3vw !important; */
    height: 100%;
    /* padding: 1.8rem 1.6rem; */
    padding: 8% !important;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    background-color: red;
}

.apresentacao-imagem a button span {
    width: 75% !important;

    justify-content: center;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    height: 1.4rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1.2rem; */
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-FFFFFF);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    font-size: 1vw;
}

.perfil-imagem {
    width: 100%;
    /* height: 40vh; */
    /* height: 60.1rem; */
    /* height: 45vh; */


    display: flex;

    justify-content: space-between;
    

    /* flex-direction: column; */

    background-color: darkorange;
}



.perfil-imagem :nth-child(1){
    width: 45%;
    height: 100%;
    /* height: 60.1rem ; */

    /* object-fit: cover; */
    /* -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; */
}

.perfil-descricao {
    /* all: unset !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between;
    justify-content: space-around; */
    justify-content: space-around;
    
    

    /* width: 43.0rem; */
    /* width: 100%; */
    /* height: 60.1rem; */
    height: 100%;
    width: 40%;

    border-top: 0.2rem solid rgba(51, 50, 61, 0.15);
    border-bottom: 0.2rem solid rgba(51, 50, 61, 0.15);
    filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));


    background-color: chartreuse;
}

@media screen and (max-width: 767px) {
    .perfil-imagem {
        /* width: 5.5vw !important; */
        /* height: 4.5rem; */
        /* justify-content: ; */
        justify-content: start;
        /* align-items: center; */
        flex-direction: column;

        /* margin-top: 0% !important; */
        /* height: 18%; */
    }
}

@media screen and (max-width: 767px) {
    .perfil-imagem :nth-child(n) {
        /* width: 5.5vw !important; */
        /* height: 4.5rem; */
        /* justify-content: ; */
        /* justify-content: start;
        flex-direction: column; */
        height: 50% ;
        width: 100% ;



        /* background-color: black ; */
    }
}

@media screen and (max-width: 767px) {
    .perfil-imagem :nth-child(1) {
        /* width: 5.5vw !important; */
        /* height: 4.5rem; */
        /* justify-content: ; */
        /* justify-content: start;
        flex-direction: column; */
        /* min-height: 50% !important;
        width: 100% ;

        background-color: black ; */
        /* margin-bottom: 0%; */
    }
}


@media screen and (max-width: 767px) {
    .perfil-descricao-2 {
        /* width: 5.5vw !important; */
        /* height: 4.5rem; */
        /* justify-content: ; */
        /* justify-content: start;
        flex-direction: column; */
        /* min-height: 50% !important;
        width: 100% ;

        background-color: black ; */

        /* background-color: bisque; */

        /* font-size: 2.5vw;

        height: 70%; */
        /* height: 50% !important;

        background-color: yellow; */
    }
}



.perfil-descricao h1 {
    /* all: unset !important; */
    
    /* height: 4.2rem; */
    /* height: 15% !important; */
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    /* font-size: 4.0rem; */
    font-size: 3vw;
    /* line-height: 4.2rem; */
    /* letter-spacing: -0.0357143rem; */
    color: var(--color-33323D);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25); 
     /* margin-top: 4.5rem;
    margin-bottom: 2.8rem; */

    /* font-size: 1vw !important;
    background-color: blueviolet; */
    background-color: darkolivegreen !important;

    /* height: 15% !important; */
    /* height: 5.0rem !important; */
    height: 10% !important;
    width: 100% !important;
}

.perfil-descricao p {
    /* all: unset !important; */
    /* display: flex; */

    padding: 3% 3% 3% 0%;
    /* height: 36.0rem; */
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1.6rem; */
    font-size: 1.3vw;
    /* font-size: 5%; */
    /* line-height: 3.0rem; */
    color: var(--color-33323D);
    mix-blend-mode: normal;
    opacity: 0.8;
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    width: 100%;
    /* min-height: 65%; */
    height: 65%;
    /* height: 10rem !important; */

    /* text-align: center; */
    overflow: hidden;       /* Esconde o que passar do tamanho */
    text-overflow: ellipsis; /* Adiciona "..." */


    background-color: fuchsia !important;

    
}

.perfil-descricao :nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0.1rem solid var(--color-33323D);
    filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

    width: 45%;
    /* width: 100%; */
    height: 9%;

    /* width: 20.4rem;
    height: 4.8rem; */
    /* margin-top: 2.4rem; */
    /* margin-left: auto;
    margin-right: auto; */

    background-color: gold;
}



.perfil-descricao :nth-child(3) button {
    /* height: 1.4rem; */
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1.2rem; */
    font-size: 0.8vw;
    /* line-height: 1.4rem; */
    /* letter-spacing: 0.2rem; */
    text-transform: uppercase;
    color: var(--color-33323D);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    width: 100%;

    background-color: lightskyblue;
}



.container-contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8.4rem;
    filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    margin-top: 15.0rem;
    margin-bottom: 15.0rem;
}

.container-contato h1 {
    width: 36.7rem;
    height: 8.4rem;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 4.2rem;
    letter-spacing: -0.0357143rem;
    color: var(--color-33323D);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.container-contato :nth-child(2) {
    width: 16.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--color-33323D);
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--color-33323D);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.container-contato :nth-child(2):hover {
    background-color: var(--color-33323D);
    color: var(--color-FFFFFF);
}