.imagem {
  /* background-position: center; */
  background-position:center;
  /* background-size: cover; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-repeat: no-repeat;

  /* height: 100vh;
  width: 100%; */

  /* padding: 0vh !important; */
  /* margin: 0; */
  /* max-width: 100%;
  height: auto; */
  /* height: auto; */
}