header{
    width: 100%;
    height: 8.0rem;
    display: flex;
    justify-content: center;
    align-items: end;

    /* margin-bottom: 5%; */
}

.container-header {
    display: flex;
    justify-content: space-between;
    /* width: 111.1rem; */
    width: 82%;
    /* height: 3.2rem; */
    height: 50%;
    height: 50%;
    filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    /* margin-top: 6.4rem; */

    /* border: 0.2rem solid black; */

    background-color: red;
    align-items: center;
    text-align: center;
}

.container-links{
    display: flex;
    /* align-items: center !important; */
    /* justify-content: center !important; */

    background-color: green;
    width: 30%;

}

.container-links :nth-child(1),
.container-links :nth-child(2),
.container-links :nth-child(3) {
    height: 1.4rem;
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1.2rem; */
    font-size: 1vw;
    line-height: 1.4rem;
    /* letter-spacing: 0.2rem; */
    text-transform: uppercase;
    color: var(--color-33323D);
    text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    /* margin-left: 4.3rem; */
    margin-left: 15%;

    
    background-color: blue;
    width: 30%;
}