footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8.0rem;
    background: var(--color-33323D);
}

.container-footer {
    display: flex;
    justify-content: space-between;
    /* width: 111.1rem; */
    width: 82%;
    /* height: 3.2rem; */
    height: 50%;

    background-color: blueviolet;
    align-items: center;
}

.container-logo {
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: aqua;
    /* width: 30%; */
    /* width: 50%; */
}

/* .container-logo-links a img{
    } */

.container-links-footer{
    /* display: flex; */
    /* font-display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    background-color: white !important;
    width: 50% !important;
    padding: 0 !important; */

    /* background-color: pink; */
}

.container-links :nth-child(n){
    /* width: 10% !important; */

    /* font-size: 0.6vw !important; */

    /* background-color: aquamarine !important; */
}

/* .link-color :nth-child(1),
.link-color :nth-child(2),
.link-color :nth-child(3) {
    color: var(--color-FFFFFF);
} */

.container-urls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 10.4rem; */
    width: 10% !important;
    /* width: 10%; */
    height: 2.4rem;
    filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

    background-color: yellow;
}

.container-urls a:hover {
    transform: scale(1.05);
}

.container-urls a img{
    width: 1.7vw;
}